﻿@{
    ViewBag.Title = "We have a problem...";
    Layout = "~/Views/Shared/_SmartConductorLayout.cshtml";
}
<div id="wrapper">
    <div id="page" class="center">
        <div id="content">
            <h2>An error has occured..</h2>
        </div>
    </div>
</div>
