﻿@model List<SmartConductor.Models.Connection>
@using SmartConductor.Infrastructure
<table id="newspaper-c">
    <thead>
        <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Duration</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Date</th>
            <th scope="col">Train type</th>
            <th scope="auto">Map</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var p = Model[i];
            <tr>
                @if (p != null)
                {
                    <td>@p.Start.Name</td>
                    <td>@p.End.Name</td>
                    <td>@p.TravelTime</td>
                    <td>@p.GetHourMinuteString(p.DepartureTime)</td>
                    <td>@p.GetHourMinuteString(p.ArrivalTime)</td>
                    <td>@p.GetShortDateString(ViewBag.Date)</td>
                    <td><img src="@Url.TrainTypesPath(p.TrainType.ImagePath)" alt="@p.TrainType.Name" /></td>

                    if (i==0)
                    {
                        <td>
                            <a href="javascript:openWin('@Url.Content(ViewBag.MapFolderPath + ViewBag.SolutionsNumber.ToString() + ViewBag.Extension)')"><img src="~/Content/mapIconSmall.png"></a>
                        </td>
                    }
                }
                else
                {
                    <text>NULL</text>
                }
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr>
                <td><img src="~/Content/mapIcon.png"></td>

            </tr>
        </tfoot>*@
</table>
