﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")"></script>
    <link href="@Url.Content("~/Content/themes/others/Layout/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/others/Layout/fonts.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/others/Layout/default.css")" rel="stylesheet" />
    @RenderSection("ScriptsHead", required: false)
    >
</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="@Url.Action("Index", "Home")">Smart Conductor</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li class="icon icon-ok current_page_item"><a href="@Url.Action("Index", "Home")">Homepage</a></li>
                    <li class="icon icon-ok"><a href="@Url.Action("Timetable", "Home")">Timetable</a></li>
                    <li class="icon icon-ok"><a href="@Url.Action("AboutApplication", "Home")" accesskey="3" title="">About Application</a></li>
                    <li class="icon icon-ok"><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="copyright" class="container">
        <p>Copyright (c) 2015 Smart Conductor - All rights reserved. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
    </div>
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
