﻿@{
    ViewBag.Title = "About Application";
    Layout = "~/Views/Shared/_SmartConductorLayout.cshtml";
}

<div id="wrapper">

    <div id="page" style="margin-left:25%">
        <h2>“Smart Conductor” is an intelligent timetable system.</h2><br/>
        <ul class="style-with-margins">
            <li class="icon icon-ok">The Application is very easy to use.</li>
            <li class="icon icon-ok">It allows users to find the best route from a beginning to an end station.</li>
            <li class="icon icon-ok">The result is always the shortest possible path with the shortest transfer times between trains and arrival/departure as close as possible to passenger’s requirements.</li>
            <li class="icon icon-ok">The Application offers hints for possible stations during creation of the request.</li>
            <li class="icon icon-ok">Users can filter particular requests to a desired arrival or departure time.</li>
            <li class="icon icon-ok">It allows users to send an email directly from the website to the technical support in case of any questions or errors.</li>
        </ul>
        <br />
    </div>

</div>

