﻿@model SmartConductor.Models.Email
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SmartConductorLayout.cshtml";
}

<!DOCTYPE html>
<div id="wrapper">
    <div id="page" class="center">
        <div id="content" class="very-small-shift">
            @if (ViewBag.Message != null)
            {
                <h1>@ViewBag.Message</h1>
            }
            <br />
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                @Html.EditorFor(o => o)
                <br /><br />
                <input id="Submit1" type="submit" value="Send" class="button" />
            }

            <br />
        </div>
    </div>
</div>

