﻿@model List<SmartConductor.Models.Solution>
@section ScriptsHead{
    <link href="~/Content/themes/others/Layout/table.css" rel="stylesheet" />

    <script type="text/javascript">

        function openWin(img) {
            window.open(img, "mywin", "menubar=0,resizable=0,width=665,height=892")
        }
    </script>
}
<!DOCTYPE html>
<div id="wrapper">
    <div id="page" style="margin-left:25%">
        <div id="content">
            @{
                SmartConductor.Models.Solution tempSolution = null;
            }
            <h1>Recommended routes:</h1>
            @if (Model != null && Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {


                    if (i >= 1)
                    {
                        <br />

                    }
                    ViewBag.SolutionsNumber = i;
                    tempSolution = Model[i];
                    @Html.DisplayFor(o => tempSolution.Path, "Solution")

                    @*<div style="margin-left:50%">
                            <a href="javascript:openWin('@Url.Content(ViewBag.MapFolderPath + i.ToString() + ViewBag.Extension)')"><img src="~/Content/mapIcon.png"></a>
                            <br />
                        </div>*@

                }
            }
            else
            {
                <text>No solutions have been found!</text>
                <br />
            }

            <br />
            <div class="clear">
                <a href="@Url.Action("Timetable", "Home")" style="text-decoration:none"><input type="button" class="button" value="Return" /></a>
            </div>
        </div>
    </div>
</div>
