﻿@{
    ViewBag.Title = "Home Page";
}
<div id="slider">
    <a href="#" class="button previous-button"><span class="icon icon-double-angle-left"></span></a>
    <a href="#" class="button next-button"><span class="icon icon-double-angle-right"></span></a>
    <div class="viewer">
        <div class="reel">
            <div class="slide">
                <a class="link" href="#">Full story ...</a>
                <img src="@Url.Content("~/Content/themes/others/Layout/pictures/train2_small.jpg")" />
            </div>
            <div class="slide">
                <a class="link" href="#">Full story ...</a>
                <img src="@Url.Content("~/Content/themes/others/Layout/pictures/train1_small.jpg")" />
            </div>
            <div class="slide">
                <a class="link" href="#">Full story ...</a>
                <img src="@Url.Content("~/Content/themes/others/Layout/pictures/train3_small.jpg")" />
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="page" class="container">
        <div id="content">
            <div class="title">
                <h2>Welcome to our website</h2>
                <span class="byline">Introduction</span>
            </div>
            <p>
                “Smart Conductor” is an intelligent timetable information system that allows users from around the world to find the best possible railway route. The application makes travelling easier. Public transportation has been never more convenient.
            </p>
            <br/>
            <a href="@Url.Action("Timetable", "Home")" class="button">Try it now!</a>
        </div>
        <div id="sidebar">
            <div id="stwo-col">
                <div class="sbox2">
                    <h2>Main Advantages</h2>
                    <ul class="style2">
                        <li class="icon icon-ok"><a href="#">Fast</a></li>
                        <li class="icon icon-ok"><a href="#">User friendly</a></li>
                        <li class="icon icon-ok"><a href="#">Free</a></li>
                        <li class="icon icon-ok"><a href="#">Reliable</a></li>
                        @*<li class="icon icon-ok blackText">Fast</li>
                        <li class="icon icon-ok blackText">User friendly</li>
                        <li class="icon icon-ok blackText">Free</li>
                        <li class="icon icon-ok blackText">Reliable</li>*@
                    </ul>
                </div>
                @*<div class="sbox1">
                    <h2>Integer gravida</h2>
                    <ul class="style2">
                        <li class="icon icon-ok"><a href="#">Semper egetmi dolore</a></li>
                        <li class="icon icon-ok"><a href="#">Quam turpis feugiat</a></li>
                        <li class="icon icon-ok"><a href="#">Amet hendrerit lectus</a></li>
                        <li class="icon icon-ok"><a href="#">Consequat phasellus</a></li>
                        <li class="icon icon-ok"><a href="#">Amet turpis feugiat</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>

@section ScriptsHead{
<script src="@Url.Content("~/Scripts/jquery.slidertron-1.3.js")"></script>
}

@section ScriptsBottom{
    <script type="text/javascript">
        $('#slider').slidertron({
            viewerSelector: '.viewer',
            reelSelector: '.viewer .reel',
            slidesSelector: '.viewer .reel .slide',
            advanceDelay: 3000,
            speed: 'slow',
            navPreviousSelector: '.previous-button',
            navNextSelector: '.next-button',
            slideLinkSelector: '.link'
        });
    </script>
}

