﻿@model SmartConductor.Models.Request
@{
    ViewBag.Title = "Timetable";
}

@section ScriptsHead{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")"></script>
    <link href="@Url.Content("~/Content/themes/others/jquery-ui-timepicker-addon.css")" rel="stylesheet" />
}



<div id="wrapper">
    <div id="page" class="center">
        <div id="content" class="very-small-shift">

            <br />
            @using (Html.BeginForm("FindSolution", "Home", FormMethod.Post))
            {
                @Html.Label("Available stations:")
                <br />
                <a class=small-shift href="javascript:openWin('@Url.Content("~/Maps/MapUK_Large.jpg")')"><img src="~/Content/mapIcon.png" title="Click to display the map with the available stations"></a>
                <br />
                @Html.EditorFor(o => o)
                <br /><br />
                <input id="Submit1" type="submit" value="Search" class="button" />
            }

            <br />
        </div>
    </div>
</div>

@section ScriptsBottom{
    <script>
        $(function () {

            var setupAutoComplete = function () {
                var $input = $(this);

                var options = {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                    }
                };

                $input.autocomplete(options);
            };

            $("#Start").each(setupAutoComplete);
            $("#End").each(setupAutoComplete);
        });

    </script>

    <script type="text/javascript">

        function openWin(img) {
            window.open(img, "mywin", "menubar=0,resizable=0,height=892,width=665")
        }
    </script>
}

