﻿@model SmartConductor.Models.Email

@{
    var uid = Guid.NewGuid();
}
@Html.LabelFor(o=> o.Name, "Name:")
<br />
@Html.TextBoxFor(o => o.Name)
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.Name)</div>
<br />
@Html.LabelFor(o => o.Surname, "Surname:")
<br />
@Html.TextBoxFor(o => o.Surname)
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.Surname)</div>
<br />
@Html.LabelFor(o => o.EmailAddress, "Email:")
<br />
@Html.TextBoxFor(o => o.EmailAddress)
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.EmailAddress)</div>
<br />
@Html.LabelFor(o => o.Message, "Message:")
<br />
@Html.TextAreaFor(o => o.Message, new { @class = "textArea", rows = "6" })
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.Message)</div>
<br />
