﻿@model SmartConductor.Models.Request

@{
    var uid = Guid.NewGuid();
}
@Html.LabelFor(o => o.Start, "Departure station:")
<br />
@Html.TextBoxFor(o => o.Start, new { placeholder = "Please type in a station...", data_autocomplete_source = Url.Action("TrainStationSuggestions") })
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.Start)</div>
<br />
@Html.LabelFor(o => o.End, "Arrival station:")
<br />
@Html.TextBoxFor(o => o.End, new { placeholder = "Please type in a station...", data_autocomplete_source = Url.Action("TrainStationSuggestions") })
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.End)</div>
<br />
@Html.LabelFor(o => o.DateString, "Date:")
<br />
@{
    var britishZone = TimeZoneInfo.FindSystemTimeZoneById("GMT Standard Time");
    var newDate = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.Local, britishZone);
}
@Html.TextBoxFor(o => o.DateString, new { @id = uid, Value = newDate.ToString("dd/MM/yyyy HH:mm") })
<div class="request-validation-message">@Html.ValidationMessageFor(o => o.DateString)</div>
<br />
@Html.Label("Search for arrival time:", new { title = "If you check this field, the application will search for connections which the arrival time is around the date above." })
<br />
@Html.CheckBox("Reversed")

<script type="text/javascript">
    $("#@uid").datetimepicker({ dateFormat: 'dd/mm/yy' });
    @if (Model!=null)
	{
    <text>
    $("#Start").val(@Model.Start);
    $("#End").val(@Model.End);
    </text>
    if (ViewBag.DatetimeIsValid == true) {
        <text>$("#Date").val(@Model.Date);</text>
    }

	}
</script>

